{% import "Index/macro.html.twig" as macro %}
<table class="form_grid">
	<tr>
		<th>{{ form_label(form.title) }}</th>
		<td><div class="errors">{{ form_errors(form.title) }}</div>{{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.text) }}</th>
		<td><div class="errors">{{ form_errors(form.text) }}</div>{{ form_widget(form.text) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.dayBirth) }}</th>
		<td>
			<div class="input-group">
				<div class="input-group below24 bias-input-group">
					{{ form_widget(form.dayBirth, {'attr':{'class':'day form-control'}}) }}
					<div class="input-group-addon">/</div>
					{{ form_widget(form.monthBirth, {'attr':{'class':'month form-control'}}) }}
					<div class="input-group-addon">/</div>
					{{ form_widget(form.yearBirth, {'attr':{'class':'year form-control'}}) }}
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.dayDeath) }}</th>
		<td>
			<div class="input-group">
				<div class="input-group below24 bias-input-group">
					{{ form_widget(form.dayDeath, {'attr':{'class':'day form-control'}}) }}
					<div class="input-group-addon">/</div>
					{{ form_widget(form.monthDeath, {'attr':{'class':'month form-control'}}) }}
					<div class="input-group-addon">/</div>
					{{ form_widget(form.yearDeath, {'attr':{'class':'year form-control'}}) }}
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.photo) }}</th>
		<td><div class="errors">{{ form_errors(form.photo) }}</div>{% if entity.photo is defined and entity.photo is not empty %}{{ macro.currentImage("photo/biography/", entity.photo) }}{% endif %}{{ form_widget(form.photo) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.language) }}</th>
		<td><div class="errors">{{ form_errors(form.language) }}</div>{{ form_widget(form.language, {'attr':{'class':'full_width form-control'}}) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.country) }}</th>
		<td><div class="errors">{{ form_errors(form.country) }}</div>{{ form_widget(form.country, {'attr':{'class':'month form-control'}}) }}</td>
	</tr>
</table>
<hr />
{{ form_widget(form.save, {'icon': 'fa-save'}) }}
{{ form_rest(form) }}