{% extends 'generic_layout.html.twig' %}

{% block head_title %}Mot de passe oublié{% endblock %}
{% block main_title %}Mot de passe oublié{% endblock %}

{% block script_additional %}
	<script type="text/javascript">
		$(function()
		{
			$("span#reload_captcha").click(function()
			{
				$.ajax({
					type: "GET",
					url: "{{ path('captcha') }}",
					cache: false,
					success: function(data)
					{
						$("img#captcha").attr("src", "data:image/png;base64," + data.new_captcha);
					}
				});
			});
		
			$("input.captcha_word").val("");
		});
	</script>
{% endblock %}

{% block main_content %}
<p>Un nouveau mot de passe vous sera envoyé à l'adresse mail renseignée sur votre compte utilisateur.</p>
{{ form_start(form, {'method' : 'post', 'action' : path('user_forgottenpasswordsend'), 'attr': {'novalidate': 'novalidate'} }) }}
	<table class="form_grid">
		<tr>
			<th>{{ form_label(form.emailUsername) }}</th>
			<td><div class="errors">{{ form_errors(form.emailUsername) }}</div>{{ form_widget(form.emailUsername, {'attr':{'class':'form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.captcha) }}</th>
			<td>
				<div class="errors">{{ form_errors(form.captcha) }}</div>{{ form_widget(form.captcha, { 'attr': { 'placeholder':'Recopiez le mot contenu dans l\'image', 'class':'form-control' }}) }}
				<p><img src='data:image/png;base64,{{ captcha(app.request) }}' id="captcha" /> <span class="glyphicon glyphicon-refresh reload" id="reload_captcha"></span></p>
			</td>
		</tr>
	</table>
	<hr />
	{{ form_widget(form.save, {'icon': 'fa-send'}) }}
	{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}